.header-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fef8f8;
}

.nav {
  float: left;
}

.nav-link {
  display: block;
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-link:hover:not(.active) {
  background-color: #fef8f8;
}

.active {
  background-color: #1ce59b;
  border-radius: 12px;
}
